.btn-center {
    margin-top: -50px;
}

.col-12.d-md-flex.align-items-center.justify-content-between.header-modulos {
    background-color: white;
    padding-top: 15px;
    
}

#btnModaltemplate {
    height: 30px !important;
    width: 96px;
    border: 2px solid #0077FF ;
    border-radius: 12px;
    opacity: 1;
    background-color: #FFF;
    color: #0077FF ;
    text-align: center;
    letter-spacing: 0px;
    color: #0077FF ;
    text-transform: uppercase;
    opacity: 1;
}
#btnModaltemplate:hover {
    background-color: #0077FF;
    color: #fff ;


}
